<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://use.fontawesome.com/b8af91ce87.js"></script>
    <script src="https://kit.fontawesome.com/d1d35104b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./static/styles/homeStyle.css">
    <link rel="icon" href="https://iteration2code.s3.us-east-2.amazonaws.com/Wand_Icon.png">
    <title>Sentizard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="./static/styles/comparisons.css">
</head>

<body id="homepage" class="homepage" style="z-index: -1; overflow-x: hidden; overflow-y: scroll;"
    onload="setButton('User')">
    <div class="response-form" id="response-form">
        <center style="position: relative; right:50px">
            <h2>Twitter Sentiment Analysis</h2>
            <form class="grid" action="/result" method="POST">
                <label for="sentence"> Enter a Phrase: </label>
                <input class="input-phrase" type="text" id="sentence" name="sentence">
                <label style="margin-left:10px">Algorithm: </label>
                <select class="dropdown-input" id="algorithm" name="algorithm">
                    <option value="LSTM">LSTM</option>
                    <option value="C-LSTM">C-LSTM</option>
                    <option value="Bi-LSTM">Bi-LSTM</option>
                    <option value="SVM">SVM</option>
                    <option value="Logistic Regression">Logistic Regression</option>
                </select>
                <input style="margin-left:10px" class="file_submit" type="Submit"> <br />
        </center>
        {% if sentence %}
        <center>
            <p
                style="margin-top: 40px; margin-left: 0px; padding-left: 20px; padding-right: 80px; color: rgb(80, 80, 80); font-size: larger;">
                You entered phrase "{{sentence}}" and selected {{algorithm}} to evaluate the sentiment. This
                model found that the sentiment is {{decimalVal}}, which means that the phrase is most likely
                <u>{{category}}</u>.<br /><br />
            </p>
        </center>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            The models were trained and tested on a dataset of 1.6 million tweets from Kaggle
            <a class="body-link" target="_blank" href="https://www.kaggle.com/datasets/kazanova/sentiment140">
                https://www.kaggle.com/datasets/kazanova/sentiment140
                <a>. The data — and your input — were pre-processed by:<br />
        </p>
        <ul style="margin-left: 30px; padding-left: 20px; padding-right: 80px;">
            <li>Converting all characters to lowercase </li>
            <li>Removing stop words</li>
            <li>
                Replacing all URLs with '&lt;url&gt;'</li>
            <li>
                Replacing all @Username to '&lt;user&gt;'</li>
            <li>
                Replacing 3 or more consecutive letters with 2 letters</li>
            <li>
                Replacing all emojis</li>
            <li>
                Removing contractions</li>
            <li>
                Removing nonalphabetics and replacing them with a space</li>
        </ul>

        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            We used Word2Vec to vectorize the tweets and the inputs. Word2Vec uses a
            neural network trained on a large amount of text (in this case the dataset of
            tweets) to determine relations between words. Below is an example of how this may occur:

            <br /><br />

            <img style="outline: 1px solid black; width:500px;"
                src="https://sentizard.s3.amazonaws.com/King_Man_Woman.png"><br />

            There are many similarities between “king” and “man,” and between “man” and “woman,”
            but fewer between “king” and “woman.”<br /><br />

        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">SVM</div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            SVM works by finding the best line or "hyperplane" that can divide a set of
            points into two classes. The line is chosen in a way that maximizes the distance
            between the points closest to the line, known as the "support vectors". Once the
            best line is found, new examples can be easily classified by seeing on which side of
            the line they fall.<br /><br />
            SVM has a few key advantages over other algorithms. One is that it can handle data
            that is not linearly separable, using a technique called the kernel trick. Another
            is that it is relatively memory efficient, because it only uses a subset of the
            training data (the support vectors) to make predictions.<br /><br />

            PCA, or Principal Component Analysis, is a dimensionality reduction technique that
            can be used to reduce the number of dimensions in a dataset while retaining as much
            of the original information as possible. In the context of visualizing an SVM, PCA
            can be used to project the data from a high-dimensional space onto a 2D plane,
            allowing you to visualize the decision boundary learned by the SVM. <br /><br />
            To use PCA for this purpose, we first apply PCA to the training data to find the two
            principal components that capture the most variance in the data. We then project the
            training data onto these two components to obtain a 2D representation of the data.
            Next, We train an SVM on the 2D data and use it to predict the class labels for the
            training examples. Finally, we plot the training examples and the decision boundary
            learned by the SVM on the 2D plane.<br /><br />

            <img style="outline: 1px solid black; width:500px;"
                src="https://sentizard.s3.amazonaws.com/PCA_Graph_1.png">
            <img style="outline: 1px solid black; width:500px; margin-left: 20px;"
                src="https://sentizard.s3.amazonaws.com/PCA_Graph_2.png"><br /><br />
            <img style="outline: 1px solid black; width:500px;"
                src="https://sentizard.s3.amazonaws.com/PCA_Graph_3.png"><br /><br />


            It's important to note that this approach is only suitable for visualizing the SVM,
            and may not necessarily produce the best results for other tasks such as
            classification or regression. Figures above illustrates decision boundaries of
            different SVM models with reduced dataset; linear SVM, SVM with Radial Basis
            Function kernel, penalization parameter, C = 1, and SVM with Radial Basis Function
            kernel, penalization parameter, C = 10, respectively.<br /><br />



        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">LSTM</div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            Long Short-Term Memory (LSTM) networks is a kind of RNN model that deals with
            the vanishing gradient problem. It learns to keep the relevant content of the
            sentence and forget the non relevant ones based on training. This model preserves
            gradients over time using dynamic gates that are called memory cells. At each input
            state, a gate can erase, write and read information from the memory cell. Gate
            values are computed based on linear combinations of the current input and the
            previous state.<br />
            The hidden state acts as the neural networks memory. It holds information on
            previous data the network has seen before.<br />
            The operations on the information is controlled by three corresponding gates:<br />
            <b style="font-weight:bold">Forget gate:</b> Controls which content to keep and which should be forgotten
            from prior
            steps.<br />
            <b style="font-weight:bold">Input Gate:</b> Controls which information from the current step is relevant to
            add to
            the next steps.<br />
            <b style="font-weight:bold">Output Gate:</b> Controls what should be the next hidden state, i.e. the output
            of the
            current step.<br /><br />


        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">C-LSTM</div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            The C-LSTM model is the combination of a convolutional neural network (CNN)
            and a recurrent neural network (LSTM), inheriting the strengths of both network
            structures [3]. The CNN module is used to extract higher-level phrase representation
            while the LSTM captures long-term dependencies over sequences. The C-LSTM structure
            is shown in Figure X.<br /><br />

            <img style="outline: 1px solid black; width:500px;"
                src="https://sentizard.s3.amazonaws.com/Archiecture_of_CLSTM.png"><br />
            The architecture of C-LSTM for sentence modeling.<br /><br />
            The sentence input is reformulated as a matrix, then fed into a CNN network to
            extract features, which are later used as the input of an LSTM network. The CNN
            module takes the input sentence matrix and extracts a new feature representation of
            the sentence. By combining and reorganizing the feature maps, we can obtain the new
            feature representation of the sentences. The new higher-order window representation
            is later fed into the LSTM network.<br />
            The LSTM module is the same as the originally proposed architecture. At each time
            step, multiple gates, including input, forget and output gates, are collectively
            used and decide how to update the memory cell and the current hidden state. The
            network unit structure is shown in Figure Y.<br /><br />

            <img style="outline: 1px solid black; width:500px;"
                src="https://sentizard.s3.amazonaws.com/Architecture_of_LSTM.png"><br />
            The architecture of the LSTM unit.<br /><br />
            The model will be trained to minimize cross-entropy by using stochastic gradient
            descent (SGD) with RMSprop. The sentences input would be converted into vectors
            using word2vec, and would be padded and truncated to fit the network input size.
            Dropout and L2 weight regularization would be applied to prevent co-adaptation and
            over-fitting.<br /><br />

        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">Bi-LSTM</div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            The Bidirectional LSTM (BiLSTM) model maintains two separate states for forward
            and backward inputs that are generated by two different LSTMs. The first LSTM is a
            regular sequence that starts from the beginning of the sentence, while in the second
            LSTM, the input sequence is fed in the opposite order. The purpose behind
            bi-directional networks is to capture the information of surrounding inputs. Bi-directional usually
            learns faster than a one-directional approach, though it depends on the task.<br /><br />
        </p>
        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">Logistic Regression
        </div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            A logistic regression uses a log function to determine a binary classification. It predicts the probability
            that an input is a given output. In this case the output is the probability that the sentiment of the
            statement or Tweet is positive. It assumes that the logarithmic odds are a linear function of x. The LR
            model trained for this project is from SciKitLearn for Machine Learning in Python. It had an accuracy of 76%
            on the test data. Through training, the model finds a value for theta such that the equation
            <img style="width:150px;" src=https://sentizard.s3.amazonaws.com/Log_Reg_Eq.png>
            predicts the sentiment as either more likely to be positive or negative through gradient descent. The predict function
            determines it to be either positive or negative and returns a 1 or 0 based on that.<br /><br />
        </p>
        <div style="margin-left: 0px; padding-left: 20px; padding-right: 80px;" class="model-name">Website</div>
        <p style="margin-left: 0px; padding-left: 20px; padding-right: 80px;">
            This website utilizes Flask to link together our front end and back end. The front end is managed through
            the main flask python file, which calls our HTML file to display. Flask can retrieve values from our front
            end and send them to our back end algorithms, which is how we were able to create dynamic phrase analysis.
            Once our back end returns a value, the webpage routes to the "/result" page, and the detailed summary is
            displayed.
        </p>
        <br /><br /><br /><br />
        {% endif %}
        </form>
    </div>
    <div class="comparisons-container" id="comparisons-container" style="position:relative; top:0">
        <div class="ComparisonsWindow" id="Comparisions.html" scrolling="no"
            style="width: 91.666%; position: fixed; left: 150px; top: 100px; z-index: 30; visibility: hidden;">
            <div>
                <img class="comparisons-images" src="https://sentizard.s3.amazonaws.com/accuracy-epoch01.png" />
                <img class="comparisons-images" src="https://sentizard.s3.amazonaws.com/loss-epoch.png" /><br />
                <label style="color:rgb(100, 100, 100); font-size:.9rem;">Model Accuracy</label>
                <label style="color:rgb(100, 100, 100); font-size:.9rem;margin-left:348px">Model Loss</label><br />
                <img class="comparisons-images" src="https://sentizard.s3.amazonaws.com/data_distribution.png" />
                <img style="border: 1px solid black; width: 400px; height: 120px; margin-right: 50px;"
                    src="https://sentizard.s3.amazonaws.com/tweets.png" /><br />
                <label style="color:rgb(100, 100, 100); font-size:.9rem;">Distribution of Data</label>
                <label style="color:rgb(100, 100, 100); font-size:.9rem;margin-left:330px">Sample Tweets</label>
            </div>
        </div>
    </div>
    <div class="view-summary" id="view-summary"
        style="height: 90vh; width: 91.666%; position: fixed; left: 8.333%; top: 73px; border: 1px solid black; z-index: 30; visibility: hidden;">
        <h1>
            View Detailed Summary!
        </h1>
    </div>
    <div class="enlargedFrame" id="enlargedFrame">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <ul class="nav navbar-nav abs-left-x">
                <i class="nav-item">
                    <img class="wand-icon" src="https://iteration2code.s3.us-east-2.amazonaws.com/Wand_Icon.png"
                        alt="Wand"></img>
                    Sentizard
                </i>
            </ul>
        </nav>
        <div class="row no-gutters">
            <div class="col-1">
                <nav id="sidebar">
                    <ul class="list-unstyled components">
                        <h4>
                            <li>
                                <a class="sidebar-link" href="#" id="User" onclick="setButton(id)">
                                    &nbsp
                                    <i class="fa-solid fa-magnifying-glass-chart"></i>
                                    User
                                </a>
                                <a class="sidebar-link" href="#" id="Comparisons" onclick="setButton(id)">
                                    &nbsp
                                    <i class="fas fa-chart-line"></i>
                                    Comparisons
                                </a>
                            </li>
                        </h4>
                    </ul>
                </nav>
            </div>
            <div class="col-11">
                <div class="wrapper" id="borderwrap" style="z-index:40">
                    <div style="padding-left:10px; color: gray; position: absolute; top: 18%;font-size:smaller">
                        Welcome to Sentizard — the Twitter sentiment wizard!
                    </div>
                </div>
                <div class="user-container">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="displaywindow" id="displaywindow" style="z-index:-1"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-1"></div>
        <div class="col-11">
        </div>
    </div>
    <div class="getdocdiv" id="getdocdiv"></div>
    </div>
</body>

<script>

    // Each sidebar button
    var sidebarButtons = ["User", "Comparisons"];

    // Sets buttons to correct state
    function setButton(button) {
        // Sets all buttons to off
        for (let x = 0; x < sidebarButtons.length; x++) {
            document.getElementById(sidebarButtons[x]).className = document.getElementById(sidebarButtons[x]).className.replace(" active", "");
        }
        // Sets correct button to on
        var buttonToActivate = document.getElementById(button);
        document.getElementById("displaywindow").innerHTML = "";
        if (button === "Comparisons") {
            document.getElementById('response-form').style.visibility = "hidden";
            document.getElementById('Comparisions.html').style.visibility = "visible";
        } else if (button === "User") {
            document.getElementById('response-form').style.visibility = "visible";
            document.getElementById('Comparisions.html').style.visibility = "hidden";
        }
    }

</script>